<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Dropdown link
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a  class="dropdown-item" (click)="onNavigate('cv')" >CvTech</a>
      <a  class="dropdown-item"(click)="onNavigate('miniword')" >MiniWord</a>
      <a  class="dropdown-item"(click)="onNavigate('ColorMe')" >Color Me</a>
    </div>
  </div> 