
<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
    <a class="navbar-brand nav" >Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['cv']" routerLinkActive="active">CvTech <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['miniword']" routerLinkActive="active">MiniWord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['cv/addperson']" routerLinkActive="active">Add Person</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['ColorMe/pink']" routerLinkActive="active">Color Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['login']" routerLinkActive="active">Login</a>
        </li>
      </ul>
    </div>
  </nav> 