<div class="container">
    <h1
  [ngStyle]="{
    color: colorText,
    'font-family': font,
    'font-size': size + 'px'
  }"
>
  Test
</h1>
<div class="row input-group">
  <input type="color" class="form-control m-3 ml-3" [(ngModel)]="colorText" />
  <input
    [(ngModel)]="size"
    type="number"
    class="form-control col-3 m-3"
    id="basic-url"
    aria-describedby="basic-addon3"
  />
  <select
    [(ngModel)]="font"
    class="custom-select col-3 m-3"
    name="inputGroupSelect01"
  >
    <option value="Arial">arial</option>
    <option value="Verdana">verdana</option>
    <option value="Garamond">garamond</option>
  </select>
</div>
<div >
  <input type="text" class="form-control" appRainbowdir />
</div>

</div>