<div class="wrapper">
    <div class="logo">
        <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Twitter
    </div>
    <form class="p-3 mt-3" #formulaire="ngForm">
        <div class="form-field d-flex align-items-center" > 
                <span class="far fa-user"></span> 
            <input required type="text" name="username" id="userName" ngModel placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center"
            >
            <span class="fas fa-key"></span>
            <input required minlength="4" type="password"  name="password" id="pwd" ngModel placeholder="Password">
        </div>
        <button (click)="sendForm(formulaire)" [disabled]="formulaire.invalid" type="submit"
            class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a href="#">Sign up</a>
    </div>
</div>